footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c1a1a;
    padding: 30px;
    text-align: left;
  }
  
  .footer-links a {
    display: inline-block;
    margin: 0 10px;
    color: #f9f5f5;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #666;
  }